<article id="links">
  <h2 class="pos-heading-2">File uploading</h2>

  <div
    class="pos-upload"
    id="styleguide-example-upload-simple"
  >
    <form
      action="{{ context.presigned_url }}"
      hidden
    >
    </form>

    <div class="pos-upload-dashboard"></div>
  </div>
</article>