---
layout: 'modules/common-styling/style-guide'
---

<main class="styleguide">

  <nav class="styleguide-navigation">
    <ul>
      <li><a href="#initialization">Initialization</a></li>
      <li><a href="#colors">Colors</a></li>
      <li><a href="#typography">Typography</a></li>
      <li><a href="#interaction">Interactive elements</a></li>
      <li><a href="#buttons">Buttons</a></li>
      <li><a href="#forms">Forms</a></li>
      <li><a href="#boxes">Boxes</a></li>
    </ul>
  </nav>

  <section class="styleguide-container">

    <article id="initialization" class="styleguide-section">
      <h2 class="styleguide-section-heading">Initialization</h2>

      <div class="styleguide-content">

        <p>All of the following CSS (except CSS custom properties) are scoped to container that uses <code>pos-app</code> class. You can use that class either on the root <code>html</code> tag of your app or just limit the scope to any container.</p>

{% capture code %}{% raw %}
<html class="pos-app">
…
{% endraw %}{% endcapture %}
        <pre><code>{{ code | lstrip }}</code></pre>

      </div>
    </article>

  
    <article id="colors" class="styleguide-section">
    
      <h2 class="styleguide-section-heading">General content</h2>

      <div class="styleguide-content">

        <ul>
        
          <li>
            <h4 class="pos-heading-4">Page background</h4>
            <div class="styleguide-colors">
              <div class="styleguide-color" style="background-color: var(--pos-color-page-background);"><small class="styleguide-color-variable">--pos-color-page-background</small></div>
            </div>
          </li>
          <li>
            <h4 class="pos-heading-4">Content background</h4>
            <div class="styleguide-colors">
              <div class="styleguide-color" style="background-color: var(--pos-color-content-background);"><small class="styleguide-color-variable">--pos-color-content-background</small></div>
            </div>
          </li>
          <li>
            <h4 class="pos-heading-4">Content text & icons</h4>
            <div class="styleguide-colors">
              <div class="styleguide-color" style="background-color: var(--pos-color-content-text);"><small class="styleguide-color-variable">--pos-color-content-text</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-content-icon);"><small class="styleguide-color-variable">--pos-color-content-icon</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-content-text-supplementary);"><small class="styleguide-color-variable">--pos-color-content-text-supplementary</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-content-text-prominent);"><small class="styleguide-color-variable">--pos-color-content-text-prominent</small></div>
            </div>
          </li>
          <li>
            <h4 class="pos-heading-4">Borders & separators</h4>
            <div class="styleguide-colors">
              <div class="styleguide-color" style="background-color: var(--pos-color-frame);"><small class="styleguide-color-variable">--pos-color-frame</small></div>
            </div>
          </li>
          <li>
            <h4 class="pos-heading-4">Highlighted elements</h4>
            <div class="styleguide-colors">
              <div class="styleguide-color" style="background-color: var(--pos-color-highlight-background);"><small class="styleguide-color-variable">--pos-color-highlight-background</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-highlight-text);"><small class="styleguide-color-variable">--pos-color-highlight-text</small></div>
            </div>
          </li>
          <li>
            <h4 class="pos-heading-4">Standout sections, call to actions</h4>
            <div class="styleguide-colors">
              <div class="styleguide-color" style="background-color: var(--pos-color-standout-background);"><small class="styleguide-color-variable">--pos-color-standout-background</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-standout-background-hover);"><small class="styleguide-color-variable">--pos-color-standout-background-hover</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-standout-text);"><small class="styleguide-color-variable">--pos-color-standout-text</small></div>
            </div>
          </li>
        
        </ul>
      
      </div>


      <h2 class="styleguide-section-heading">Interactive elements</h2>

      <div class="styleguide-content">

        <ul>
        
          <li>
            <h4 class="pos-heading-4">Links</h4>
            <div class="styleguide-colors">
              <div class="styleguide-color" style="background-color: var(--pos-color-interactive);"><small class="styleguide-color-variable">--pos-color-interactive</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-interactive-hover);"><small class="styleguide-color-variable">--pos-color-interactive-hover</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-interactive-active);"><small class="styleguide-color-variable">--pos-color-interactive-active</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-interactive-disabled);"><small class="styleguide-color-variable">--pos-color-interactive-disabled</small></div>
            </div>
          </li>

          <li>
            <h4 class="pos-heading-4">Primary buttons</h4>
            <div class="styleguide-colors">
              <div class="styleguide-color" style="background-color: var(--pos-color-button-primary-background);"><small class="styleguide-color-variable">--pos-color-button-primary-background</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-button-primary-frame);"><small class="styleguide-color-variable">--pos-color-button-primary-frame</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-button-primary-text);"><small class="styleguide-color-variable">--pos-color-button-primary-text</small></div>
            </div>
            <div class="styleguide-colors">
              <div class="styleguide-color" style="background-color: var(--pos-color-button-primary-hover-background);"><small class="styleguide-color-variable">--pos-color-button-primary-hover-background</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-button-primary-hover-frame);"><small class="styleguide-color-variable">--pos-color-button-primary-hover-frame</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-button-primary-hover-text);"><small class="styleguide-color-variable">--pos-color-button-primary-hover-text</small></div>
            </div>
            <div class="styleguide-colors">
              <div class="styleguide-color" style="background-color: var(--pos-color-button-primary-active-background);"><small class="styleguide-color-variable">--pos-color-button-primary-active-background</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-button-primary-active-frame);"><small class="styleguide-color-variable">--pos-color-button-primary-active-frame</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-button-primary-active-text);"><small class="styleguide-color-variable">--pos-color-button-primary-active-text</small></div>
            </div>
            <div class="styleguide-colors">
              <div class="styleguide-color" style="background-color: var(--pos-color-button-primary-disabled-background);"><small class="styleguide-color-variable">--pos-color-button-primary-disabled-background</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-button-primary-disabled-frame);"><small class="styleguide-color-variable">--pos-color-button-primary-disabled-frame</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-button-primary-disabled-text);"><small class="styleguide-color-variable">--pos-color-button-primary-disabled-text</small></div>
            </div>
          </li>

          <li>
            <h4 class="pos-heading-4">Secondary buttons</h4>
            <div class="styleguide-colors">
              <div class="styleguide-color" style="background-color: var(--pos-color-button-secondary-background);"><small class="styleguide-color-variable">--pos-color-button-secondary-background</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-button-secondary-frame);"><small class="styleguide-color-variable">--pos-color-button-secondary-frame</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-button-secondary-text);"><small class="styleguide-color-variable">--pos-color-button-secondary-text</small></div>
            </div>
            <div class="styleguide-colors">
              <div class="styleguide-color" style="background-color: var(--pos-color-button-secondary-hover-background);"><small class="styleguide-color-variable">--pos-color-button-secondary-hover-background</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-button-secondary-hover-frame);"><small class="styleguide-color-variable">--pos-color-button-secondary-hover-frame</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-button-secondary-hover-text);"><small class="styleguide-color-variable">--pos-color-button-secondary-hover-text</small></div>
            </div>
            <div class="styleguide-colors">
              <div class="styleguide-color" style="background-color: var(--pos-color-button-secondary-active-background);"><small class="styleguide-color-variable">--pos-color-button-secondary-active-background</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-button-secondary-active-frame);"><small class="styleguide-color-variable">--pos-color-button-secondary-active-frame</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-button-secondary-active-text);"><small class="styleguide-color-variable">--pos-color-button-secondary-active-text</small></div>
            </div>
            <div class="styleguide-colors">
              <div class="styleguide-color" style="background-color: var(--pos-color-button-secondary-disabled-background);"><small class="styleguide-color-variable">--pos-color-button-secondary-disabled-background</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-button-secondary-disabled-frame);"><small class="styleguide-color-variable">--pos-color-button-secondary-disabled-frame</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-button-secondary-disabled-text);"><small class="styleguide-color-variable">--pos-color-button-secondary-disabled-text</small></div>
            </div>
          </li>
        
        </ul>
        
      </div>

      <h2 class="styleguide-section-heading">Browser UI</h2>

      <div class="styleguide-content">

        <ul>
        
          <li>
            <h4 class="pos-heading-4">Focused elements highlight</h4>
            <div class="styleguide-colors">
              <div class="styleguide-color" style="background-color: var(--pos-color-focused);"><small class="styleguide-color-variable">--pos-color-focused</small></div>
            </div>
          </li>
          <li>
            <h4 class="pos-heading-4">Text selection highlight</h4>
            <div class="styleguide-colors">
              <div class="styleguide-color" style="background-color: var(--pos-color-selection-background);"><small class="styleguide-color-variable">--pos-color-selection-background</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-selection-text);"><small class="styleguide-color-variable">--pos-color-selection-text</small></div>
            </div>
          </li>
        
        </ul>

      </div>


      <h2 class="styleguide-section-heading">Forms</h2>

      <div class="styleguide-content">

        <ul>
        
          <li>
            <h4 class="pos-heading-4">Placeholder text</h4>
            <div class="styleguide-colors">
              <div class="styleguide-color" style="background-color: var(--pos-color-input-placeholder);"><small class="styleguide-color-variable">--pos-color-input-placeholder</small></div>
            </div>
          </li>
          <li>
            <h4 class="pos-heading-4">Input field</h4>
            <div class="styleguide-colors">
              <div class="styleguide-color" style="background-color: var(--pos-color-input-background);"><small class="styleguide-color-variable">--pos-color-input-background</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-input-frame);"><small class="styleguide-color-variable">--pos-color-input-frame</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-input-text);"><small class="styleguide-color-variable">--pos-color-input-text</small></div>
            </div>
            <div class="styleguide-colors">
              <div class="styleguide-color" style="background-color: var(--pos-color-input-hover-background);"><small class="styleguide-color-variable">--pos-color-input-hover-background</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-input-hover-frame);"><small class="styleguide-color-variable">--pos-color-input-hover-frame</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-input-hover-text);"><small class="styleguide-color-variable">--pos-color-input-hover-text</small></div>
            </div>
            <div class="styleguide-colors">
              <div class="styleguide-color" style="background-color: var(--pos-color-input-active-background);"><small class="styleguide-color-variable">--pos-color-input-active-background</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-input-active-frame);"><small class="styleguide-color-variable">--pos-color-input-active-frame</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-input-active-text);"><small class="styleguide-color-variable">--pos-color-input-active-text</small></div>
            </div>
            <div class="styleguide-colors">
              <div class="styleguide-color" style="background-color: var(--pos-color-input-disabled-background);"><small class="styleguide-color-variable">--pos-color-input-disabled-background</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-input-disabled-frame);"><small class="styleguide-color-variable">--pos-color-input-disabled-frame</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-input-disabled-text);"><small class="styleguide-color-variable">--pos-color-input-disabled-text</small></div>
            </div>
          </li>
        
        </ul>

      </div>

      <h2 class="styleguide-section-heading">Utility</h2>

      <div class="styleguide-content">

        <ul>

          <li>
            <h4 class="pos-heading-4">Statuses</h4>
            <div class="styleguide-colors">
              <div class="styleguide-color" style="background-color: var(--pos-color-important);"><small class="styleguide-color-variable">--pos-color-important</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-important-hover);"><small class="styleguide-color-variable">--pos-color-important-hover</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-important-disabled);"><small class="styleguide-color-variable">--pos-color-important-disabled</small></div>
            </div>
            <div class="styleguide-colors">
              <div class="styleguide-color" style="background-color: var(--pos-color-warning);"><small class="styleguide-color-variable">--pos-color-warning</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-warning-hover);"><small class="styleguide-color-variable">--pos-color-warning-hover</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-warning-disabled);"><small class="styleguide-color-variable">--pos-color-warning-disabled</small></div>
            </div>
            <div class="styleguide-colors">
              <div class="styleguide-color" style="background-color: var(--pos-color-confirmation);"><small class="styleguide-color-variable">--pos-color-confirmation</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-confirmation-hover);"><small class="styleguide-color-variable">--pos-color-confirmation-hover</small></div>
              <div class="styleguide-color" style="background-color: var(--pos-color-confirmation-disabled);"><small class="styleguide-color-variable">--pos-color-confirmation-disabled</small></div>
            </div>
          </li>
        
        </ul>

      </div>
    
    </article>


    <article id="typography" class="styleguide-section styleguide-typography">
    
      <h2 class="styleguide-section-heading">Fonts</h2>

      <div class="styleguide-content styleguide-typography-fonts">
      
        <div class="styleguide-typography-details">
          <p style="font-family: var(--pos-font-default);">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In euismod aliquet nisi euismod eleifend. Phasellus justo tellus, aliquet ac aliquam ut, dictum eu augue.</p>
          <p style="font-family: var(--pos-font-default);">Nullam vitae ex sed ligula convallis suscipit. Maecenas et neque facilisis.</p>

          <div class="styleguide-typography-detail">
            <picture class="styleguide-typography-example" style="font-family: var(--pos-font-default);">Aa</picture>
            <dl class="styleguide-details">
              <dt>Property</dt><dd><code>--pos-font-default</code></dd>
              <dt>Font family</dt><dd id="styleguide-typography-content-family">Arial</dd>
              <dt>Default font size</dt><dd id="styleguide-typography-content-size">16px</dd>
              <dt>Line height</dt><dd id="styleguide-typography-content-lineheight">16px</dd>
            </dl>
          </div>
        </div>

        <div class="styleguide-typography-details">
          <p style="font-family: var(--pos-font-heading);">Nunc facilisis ex et felis ornare, tempor interdum nunc egestas. Quisque pulvinar felis in consectetur ornare.</p>
          <p style="font-family: var(--pos-font-heading);">Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>

          <div class="styleguide-typography-detail">
            <picture class="styleguide-typography-example" style="font-family: var(--pos-font-heading);">Aa</picture>
            <dl class="styleguide-details">
              <dt>Property</dt><dd><code>--pos-font-heading</code></dd>
              <dt>Font family</dt><dd id="styleguide-typography-content-family">Arial</dd>
              <dt>Default font size</dt><dd id="styleguide-typography-content-size">16px</dd>
              <dt>Line height</dt><dd id="styleguide-typography-content-lineheight">16px</dd>
            </dl>
          </div>
        </div>

      </div>


      <h2 class="styleguide-section-heading">Headings</h2>

      <div class="styleguide-content styleguide-typography-headings">
      
        <div class="styleguide-typography-heading">
          <div class="styleguide-typography-detail">
            <h4 class="pos-heading-4">Heading 1</h4>
            <dl class="styleguide-details">
              <dt>Class</dt><dd><code>pos-heading-1</code></dd>
              <dt>Font family</dt><dd></dd>
              <dt>Color</dt><dd></dd>
              <dt>Size</dt><dd></dd>
              <dt>Font Weight</dt><dd></dd>
              <dt>Line height</dt><dd></dd>
            </dl>
          </div>
          <span class="pos-heading-1">The quick brown fox jumps over the lazy dog</span>
        </div>

        <div class="styleguide-typography-heading">
          <div class="styleguide-typography-detail">
            <h4 class="pos-heading-4">Heading 2</h4>
            <dl class="styleguide-details">
              <dt>Class</dt><dd><code>pos-heading-2</code></dd>
              <dt>Font family</dt><dd></dd>
              <dt>Color</dt><dd></dd>
              <dt>Size</dt><dd></dd>
              <dt>Font Weight</dt><dd></dd>
              <dt>Line height</dt><dd></dd>
            </dl>
          </div>
          <span class="pos-heading-2">The quick brown fox jumps over the lazy dog</span>
        </div>

        <div class="styleguide-typography-heading">
          <div class="styleguide-typography-detail">
            <h4 class="pos-heading-4">Heading 3</h4>
            <dl class="styleguide-details">
              <dt>Class</dt><dd><code>pos-heading-3</code></dd>
              <dt>Font family</dt><dd></dd>
              <dt>Color</dt><dd></dd>
              <dt>Size</dt><dd></dd>
              <dt>Font Weight</dt><dd></dd>
              <dt>Line height</dt><dd></dd>
            </dl>
          </div>
          <span class="pos-heading-3">The quick brown fox jumps over the lazy dog</span>
        </div>

        <div class="styleguide-typography-heading">
          <div class="styleguide-typography-detail">
            <h4 class="pos-heading-4">Heading 4</h4>
            <dl class="styleguide-details">
              <dt>Class</dt><dd><code>pos-heading-4</code></dd>
              <dt>Font family</dt><dd></dd>
              <dt>Color</dt><dd></dd>
              <dt>Size</dt><dd></dd>
              <dt>Font Weight</dt><dd></dd>
              <dt>Line height</dt><dd></dd>
            </dl>
          </div>
          <span class="pos-heading-4">The quick brown fox jumps over the lazy dog</span>
        </div>
      
      </div>

      <h2 class="styleguide-section-heading">Text styles</h2>

      <div class="styleguide-content styleguide-typography-headings">

        <div class="styleguide-typography-heading">
          <div class="styleguide-typography-detail">
            <h4 class="pos-heading-4">Sidenotes</h4>
            <dl class="styleguide-details">
              <dt>Class</dt><dd><code>pos-supplementary</code></dd>
              <dt>Font family</dt><dd></dd>
              <dt>Color</dt><dd></dd>
              <dt>Size</dt><dd></dd>
              <dt>Font Weight</dt><dd></dd>
              <dt>Line height</dt><dd></dd>
            </dl>
          </div>
          <span class="pos-supplementary">The quick brown fox jumps over the lazy dog</span>
        </div>
      
      </div>

    </article>


    <article id="interaction" class="styleguide-section styleguide-links">
    
      <h2 class="styleguide-section-heading">Links</h2>

      <div class="styleguide-content">
        <a href="#">Example link</a>
      </div>

    </article>


    <article id="buttons" class="styleguide-section">
    
      <h2 class="styleguide-section-heading">Buttons</h2>

      <div class="styleguide-content styleguide-buttons">
        <div class="styleguide-buttons-examples">
          <div class="styleguide-buttons-example">
            <h4 class="pos-heading-4">Default</h4>
            <button class="pos-button">Button</button>
            <dl class="styleguide-details">
              <dt>Class</dt><dd><code>pos-button</code></dd>
            </dl>
          </div>
          <div class="styleguide-buttons-example">
            <h4 class="pos-heading-4">Primary</h4>
            <button class="pos-button pos-button-primary">Button</button>
            <dl class="styleguide-details">
              <dt>Class</dt><dd><code>pos-button pos-button-primary</code></dd>
            </dl>
          </div>

        </div>

        <div>
          <table class="styleguide-table">
            <thead>
              <tr>
                <th></th>
                <th>Default</th>
                <th>Primary</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="styleguide-table-heading">Enabled</td>
                <td><button class="pos-button">Button</button></td>
                <td><button class="pos-button pos-button-primary">Button</button></td>
              </tr>
              <tr>
                <td class="styleguide-table-heading">Hover</td>
                <td><button class="pos-button pos-debug-button-hover">Button</button></td>
                <td><button class="pos-button pos-button-primary pos-debug-button-hover">Button</button></td>
              </tr>
              <tr>
                <td class="styleguide-table-heading">Active</td>
                <td><button class="pos-button pos-debug-button-active">Button</button></td>
                <td><button class="pos-button pos-button-primary pos-debug-button-active">Button</button></td>
              </tr>
              <tr>
                <td class="styleguide-table-heading">Focused</td>
                <td><button class="pos-button pos-debug-button-focus-visible">Button</button></td>
                <td><button class="pos-button pos-button-primary pos-debug-button-focus-visible">Button</button></td>
              </tr>
              <tr>
                <td class="styleguide-table-heading">Disabled</td>
                <td><button disabled class="pos-button">Button</button></td>
                <td><button disabled class="pos-button pos-button-primary">Button</button></td>
              </tr>
              <tr>
                <td class="styleguide-table-heading">Icon</td>
                <td>
                  <button class="pos-button">
                    <svg viewBox="0 0 24 24" fill="none" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg"><path d="M12.089 24a6.747 6.747 0 01-1.853-.26l-3.634-1.038A5.342 5.342 0 006 22.568v.682a.75.75 0 01-.75.75H.75a.75.75 0 01-.75-.75V9.75A.75.75 0 01.75 9h4.5a.75.75 0 01.75.75v1.512a6.747 6.747 0 006-6.708V3c0-1.654 1.346-3 3-3s3 1.346 3 3v3.382c0 .346.234.645.57.728l1.435.313c2.443.612 4.116 2.867 3.989 5.365l-.301 5.106C23.343 21.382 20.455 24 16.974 24h-4.885zM6 21.053c.342.043.682.112 1.014.207l3.634 1.038c.468.134.953.202 1.441.202h4.885a5.235 5.235 0 005.224-4.725l.298-5.069a3.758 3.758 0 00-2.834-3.823l-1.433-.313A2.253 2.253 0 0116.5 6.382V3c0-.827-.673-1.5-1.5-1.5s-1.5.673-1.5 1.5v1.554A8.236 8.236 0 016 12.77v8.283zM4.5 22.5v-12h-3v12h3z"></path></svg>
                    Button
                  </button>
                </td>
                <td>
                  <button class="pos-button pos-button-primary">
                    <svg viewBox="0 0 24 24" fill="none" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg"><path d="M12.089 24a6.747 6.747 0 01-1.853-.26l-3.634-1.038A5.342 5.342 0 006 22.568v.682a.75.75 0 01-.75.75H.75a.75.75 0 01-.75-.75V9.75A.75.75 0 01.75 9h4.5a.75.75 0 01.75.75v1.512a6.747 6.747 0 006-6.708V3c0-1.654 1.346-3 3-3s3 1.346 3 3v3.382c0 .346.234.645.57.728l1.435.313c2.443.612 4.116 2.867 3.989 5.365l-.301 5.106C23.343 21.382 20.455 24 16.974 24h-4.885zM6 21.053c.342.043.682.112 1.014.207l3.634 1.038c.468.134.953.202 1.441.202h4.885a5.235 5.235 0 005.224-4.725l.298-5.069a3.758 3.758 0 00-2.834-3.823l-1.433-.313A2.253 2.253 0 0116.5 6.382V3c0-.827-.673-1.5-1.5-1.5s-1.5.673-1.5 1.5v1.554A8.236 8.236 0 016 12.77v8.283zM4.5 22.5v-12h-3v12h3z"></path></svg>
                    Button
                  </button>
                </td>
              </tr>
              <tr>
                <td class="styleguide-table-heading">Link</td>
                <td><a href="#" class="pos-button">Link</a></td>
                <td><a href="#" class="pos-button pos-button-primary">Link</a></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

    </article>


    <article id="forms" class="styleguide-section">
    
      <h2 class="styleguide-section-heading">Forms</h2>

      <div class="styleguide-content styleguide-forms">

        <dl class="styleguide-details">
          <dt>Class</dt><dd><code>pos-form</code></dd>
        </dl>

        <div class="styleguide-columns">

          <div class="pos-form">
            <h4 class="pos-heading-4">Checkboxes</h4>
            <fieldset>
              <input type="checkbox" id="styleguide-example-checkbox-default"><label for="styleguide-example-checkbox-default">Test checkbox</label>
            </fieldset>
            <fieldset>
              <input type="checkbox" id="styleguide-example-checkbox-checked" checked><label for="styleguide-example-checkbox-checked">Test checkbox</label>
            </fieldset>
            <fieldset>
              <input type="checkbox" id="styleguide-example-checkbox-disabled" disabled><label for="styleguide-example-checkbox-disabled">Disabled checkbox</label>
            </fieldset>
            <fieldset>
              <input type="checkbox" id="styleguide-example-checkbox-checked-disabled" checked disabled><label for="styleguide-example-checkbox-checked-disabled">Checked & disabled checkbox</label>
            </fieldset>
          </div>

          <div class="pos-form">
            <h4 class="pos-heading-4">Radios</h4>
            <fieldset>
              <input type="radio" id="styleguide-example-radio-default"><label for="styleguide-example-radio-default">Test radio</label>
            </fieldset>
            <fieldset>
              <input type="radio" id="styleguide-example-radio-checked" checked><label for="styleguide-example-radio-checked">Test radio</label>
            </fieldset>
            <fieldset>
              <input type="radio" id="styleguide-example-radio-disabled" disabled><label for="styleguide-example-radio-disabled">Disabled radio</label>
            </fieldset>
            <fieldset>
              <input type="radio" id="styleguide-example-radio-checked-disabled" checked disabled><label for="styleguide-example-radio-checked-disabled">Checked & disabled radio</label>
            </fieldset>
          </div>

        </div>

        <div class="styleguide-columns">

          <div class="pos-form">
            <h4 class="pos-heading-4">Text</h4>
            <fieldset>
              <input type="text" placeholder="Input placeholder">
            </fieldset>
            <fieldset>
              <input type="text" value="Prefilled value">
            </fieldset>
            <fieldset>
              <input type="text" disabled placeholder="Disabled with placeholder">
            </fieldset>
            <fieldset>
              <input type="text" disabled value="Disabled with prefilled value">
            </fieldset>
          </div>

          <div class="pos-form">
            <h4 class="pos-heading-4">Select</h4>
            <fieldset>
              <select>
                <option>Option A</option>
                <option>Option B</option>
              </select>
              <select disabled>
                <option>Option A</option>
                <option>Option B</option>
              </select>
            </fieldset>
          </div>

        </div>

      </div>

    </article>


    <article id="boxes" class="styleguide-section">
    
      <h2 class="styleguide-section-heading">Boxes</h2>

      <div class="styleguide-content styleguide-boxes">
        <dl class="styleguide-details">
          <dt>Class</dt><dd><code>pos-card</code></dd>
        </dl>
        <div class="pos-card">This is a card</div>

        <dl class="styleguide-details">
          <dt>Class</dt><dd><code>pos-card pos-card-highlighted</code></dd>
        </dl>
        <div class="pos-card pos-card-highlighted">This is a highlighted card</div>
      </div>

    </article>

  </section>

</main>