---
layout: 'modules/common-styling/style-guide'
---

<main class="styleguide">

  <nav class="styleguide-navigation">
    <ul>
      <li><a href="#colors">Colors</a></li>
    </ul>
  </nav>

  <div class="styleguide-container">
  
    <article id="colors" class="styleguide-section">
      <header>
        <h2 class="pos-heading-1">Colors</h2>
      </header>

      <div class="styleguide-content">

        <h3 class="pos-heading-3">General Content</h3>
        <ul>

          <li>
            <h4 class="pos-heading-4">Page Background</h4>
            <div class="styleguide-colors">
              <div style="background-color: var(--pos-color-page-background);"><small>--pos-color-page-background</small></div>
            </div>
          </li>

          <li>
            <h4 class="pos-heading-4">Content Background</h4>
            <div class="styleguide-colors">
              <div style="background-color: var(--pos-color-content-background);"><small>--pos-color-content-background</small></div>
            </div>
          </li>

          <li>
            <h4 class="pos-heading-4">Content Text & Icons</h4>
            <div class="styleguide-colors">
              <div style="background-color: var(--pos-color-content-text);"><small>--pos-color-content-text</small></div>
              <div style="background-color: var(--pos-color-content-icon);"><small>--pos-color-content-icon</small></div>
              <div style="background-color: var(--pos-color-content-text-supplementary);"><small>--pos-color-content-text-supplementary</small></div>
              <div style="background-color: var(--pos-color-content-text-prominent);"><small>--pos-color-content-text-prominent</small></div>
            </div>
          </li>

          <li>
            <h4 class="pos-heading-4">Borders & Frames</h4>
            <div class="styleguide-colors">
              <div style="background-color: var(--pos-color-frame);"><small>--pos-color-frame</small></div>
            </div>
          </li>

          <li>
            <h4 class="pos-heading-4">Highlighted elements</h4>
            <div class="styleguide-colors">
              <div style="background-color: var(--pos-color-highlight-background);"><small>--pos-color-highlight-background</small></div>
              <div style="background-color: var(--pos-color-highlight-text);"><small>--pos-color-highlight-text</small></div>
            </div>
          </li>

          <li>
            <h4 class="pos-heading-4">Standout sections, call to actions</h4>
            <div class="styleguide-colors">
              <div style="background-color: var(--pos-color-standout-background);"><small>--pos-color-standout-background</small></div>
              <div style="background-color: var(--pos-color-standout-background-hover);"><small>--pos-color-standout-background-hover</small></div>
              <div style="background-color: var(--pos-color-standout-text);"><small>--pos-color-standout-text</small></div>
            </div>
          </li>
        </ul>


        <h3 class="pos-heading-3">Interactive Elements</h3>

        <ul>

          <li>
            <h4 class="pos-heading-4">Links</h4>
            <div class="styleguide-colors">
              <div style="background-color: var(--pos-color-interactive);"><small>--pos-color-interactive</small></div>
              <div style="background-color: var(--pos-color-interactive-hover);"><small>--pos-color-interactive-hover</small></div>
              <div style="background-color: var(--pos-color-interactive-active);"><small>--pos-color-interactive-active</small></div>
              <div style="background-color: var(--pos-color-interactive-disabled);"><small>--pos-color-interactive-disabled</small></div>
            </div>
          </li>

          <li>
            <h4 class="pos-heading-4">Primary buttons</h4>
            <div class="styleguide-colors">
              <div style="background-color: var(--pos-color-button-primary-background);"><small>--pos-color-button-primary-background</small></div>
              <div style="background-color: var(--pos-color-button-primary-frame);"><small>--pos-color-button-primary-frame</small></div>
              <div style="background-color: var(--pos-color-button-primary-text);"><small>--pos-color-button-primary-text</small></div>
            </div>
            <div class="styleguide-colors">
              <div style="background-color: var(--pos-color-button-primary-hover-background);"><small>--pos-color-button-primary-hover-background</small></div>
              <div style="background-color: var(--pos-color-button-primary-hover-frame);"><small>--pos-color-button-primary-hover-frame</small></div>
              <div style="background-color: var(--pos-color-button-primary-hover-text);"><small>--pos-color-button-primary-hover-text</small></div>
            </div>
            <div class="styleguide-colors">
              <div style="background-color: var(--pos-color-button-primary-active-background);"><small>--pos-color-button-primary-active-background</small></div>
              <div style="background-color: var(--pos-color-button-primary-active-frame);"><small>--pos-color-button-primary-active-frame</small></div>
              <div style="background-color: var(--pos-color-button-primary-active-text);"><small>--pos-color-button-primary-active-text</small></div>
            </div>
            <div class="styleguide-colors">
              <div style="background-color: var(--pos-color-button-primary-disabled-background);"><small>--pos-color-button-primary-disabled-background</small></div>
              <div style="background-color: var(--pos-color-button-primary-disabled-frame);"><small>--pos-color-button-primary-disabled-frame</small></div>
              <div style="background-color: var(--pos-color-button-primary-disabled-text);"><small>--pos-color-button-primary-disabled-text</small></div>
            </div>
          </li>

          <li>
            <h4 class="pos-heading-4">Secondary buttons</h4>
            <div class="styleguide-colors">
              <div style="background-color: var(--pos-color-button-secondary-background);"><small>--pos-color-button-secondary-background</small></div>
              <div style="background-color: var(--pos-color-button-secondary-frame);"><small>--pos-color-button-secondary-frame</small></div>
              <div style="background-color: var(--pos-color-button-secondary-text);"><small>--pos-color-button-secondary-text</small></div>
            </div>
            <div class="styleguide-colors">
              <div style="background-color: var(--pos-color-button-secondary-hover-background);"><small>--pos-color-button-secondary-hover-background</small></div>
              <div style="background-color: var(--pos-color-button-secondary-hover-frame);"><small>--pos-color-button-secondary-hover-frame</small></div>
              <div style="background-color: var(--pos-color-button-secondary-hover-text);"><small>--pos-color-button-secondary-hover-text</small></div>
            </div>
            <div class="styleguide-colors">
              <div style="background-color: var(--pos-color-button-secondary-active-background);"><small>--pos-color-button-secondary-active-background</small></div>
              <div style="background-color: var(--pos-color-button-secondary-active-frame);"><small>--pos-color-button-secondary-active-frame</small></div>
              <div style="background-color: var(--pos-color-button-secondary-active-text);"><small>--pos-color-button-secondary-active-text</small></div>
            </div>
            <div class="styleguide-colors">
              <div style="background-color: var(--pos-color-button-secondary-disabled-background);"><small>--pos-color-button-secondary-disabled-background</small></div>
              <div style="background-color: var(--pos-color-button-secondary-disabled-frame);"><small>--pos-color-button-secondary-disabled-frame</small></div>
              <div style="background-color: var(--pos-color-button-secondary-disabled-text);"><small>--pos-color-button-secondary-disabled-text</small></div>
            </div>
          </li>

          <li>
            <h4 class="pos-heading-4">Colors user for variety of browser-related UI elements</h4>
            <div class="styleguide-colors">
              <div style="background-color: var(--pos-color-focused);"><small>--pos-color-focused</small></div>
            </div>
            <div class="styleguide-colors">
              <div style="background-color: var(--pos-color-selection-background);"><small>--pos-color-selection-background</small></div>
              <div style="background-color: var(--pos-color-selection-text);"><small>--pos-color-selection-text</small></div>
            </div>
          </li>

          <li>
            <h4 class="pos-heading-4">Forms</h4>
            <div class="styleguide-colors">
              <div style="background-color: var(--pos-color-input-placeholder);"><small>--pos-color-input-placeholder</small></div>
            </div>
            <div class="styleguide-colors">
              <div style="background-color: var(--pos-color-input-background);"><small>--pos-color-input-background</small></div>
              <div style="background-color: var(--pos-color-input-frame);"><small>--pos-color-input-frame</small></div>
              <div style="background-color: var(--pos-color-input-text);"><small>--pos-color-input-text</small></div>
            </div>
            <div class="styleguide-colors">
              <div style="background-color: var(--pos-color-input-hover-background);"><small>--pos-color-input-hover-background</small></div>
              <div style="background-color: var(--pos-color-input-hover-frame);"><small>--pos-color-input-hover-frame</small></div>
              <div style="background-color: var(--pos-color-input-hover-text);"><small>--pos-color-input-hover-text</small></div>
            </div>
            <div class="styleguide-colors">
              <div style="background-color: var(--pos-color-input-active-background);"><small>--pos-color-input-active-background</small></div>
              <div style="background-color: var(--pos-color-input-active-frame);"><small>--pos-color-input-active-frame</small></div>
              <div style="background-color: var(--pos-color-input-active-text);"><small>--pos-color-input-active-text</small></div>
            </div>
            <div class="styleguide-colors">
              <div style="background-color: var(--pos-color-input-disabled-background);"><small>--pos-color-input-disabled-background</small></div>
              <div style="background-color: var(--pos-color-input-disabled-frame);"><small>--pos-color-input-disabled-frame</small></div>
              <div style="background-color: var(--pos-color-input-disabled-text);"><small>--pos-color-input-disabled-text</small></div>
            </div>
          </li>

          <li>
            <h4 class="pos-heading-4">Utility</h4>
            <div class="styleguide-colors">
              <div style="background-color: var(--pos-color-important);"><small>--pos-color-important</small></div>
              <div style="background-color: var(--pos-color-important-hover);"><small>--pos-color-important-hover</small></div>
              <div style="background-color: var(--pos-color-important-disabled);"><small>--pos-color-important-disabled</small></div>
            </div>
            <div class="styleguide-colors">
              <div style="background-color: var(--pos-color-warning);"><small>--pos-color-warning</small></div>
              <div style="background-color: var(--pos-color-warning-hover);"><small>--pos-color-warning-hover</small></div>
              <div style="background-color: var(--pos-color-warning-disabled);"><small>--pos-color-warning-disabled</small></div>
            </div>
            <div class="styleguide-colors">
              <div style="background-color: var(--pos-color-confirmation);"><small>--pos-color-confirmation</small></div>
              <div style="background-color: var(--pos-color-confirmation-hover);"><small>--pos-color-confirmation-hover</small></div>
              <div style="background-color: var(--pos-color-confirmation-disabled);"><small>--pos-color-confirmation-disabled</small></div>
            </div>
          </li>

        </ul>

      </div>

    </article>
  
  </div>
</main>