---
layout: 'modules/common-styling/style-guide'
---

<main class="styleguide">

  <nav class="styleguide-navigation">
    <ul>
      <li><a href="#colors">Colors</a></li>
    </ul>
  </nav>

  <div class="styleguide-container">
  
    <article id="colors" class="styleguide-section">
      <header>
        <h2 class="pos-heading-1">Colors</h2>
      </header>

      <div class="styleguide-content">

        <h3 class="pos-heading-3">General Content</h3>
        <ul>

          <li>
            <h4 class="pos-heading-4">Page Background</h4>
            <div class="styleguide-colors">
              <div style="background-color: var(--pos-color-page-background);"><small>--pos-color-page-background</small></div>
            </div>
          </li>

          <li>
            <h4 class="pos-heading-4">Content Background</h4>
            <div class="styleguide-colors">
              <div style="background-color: var(--pos-color-content-background);"><small>--pos-color-content-background</small></div>
            </div>
          </li>

          <li>
            <h4 class="pos-heading-4">Content Text & Icons</h4>
            <div class="styleguide-colors">
              <div style="background-color: var(--pos-color-content-text);"><small>--pos-color-content-text</small></div>
              <div style="background-color: var(--pos-color-content-icon);"><small>--pos-color-content-icon</small></div>
              <div style="background-color: var(--pos-color-content-text-supplementary);"><small>--pos-color-content-text-supplementary</small></div>
              <div style="background-color: var(--pos-color-content-text-prominent);"><small>--pos-color-content-text-prominent</small></div>
            </div>
          </li>

          <li>
            <h4 class="pos-heading-4">Borders & Frames</h4>
            <div class="styleguide-colors">
              <div style="background-color: var(--pos-color-frame);"><small>--pos-color-frame</small></div>
            </div>
          </li>

          <li>
            <h4 class="pos-heading-4">Highlighted elements</h4>
            <div class="styleguide-colors">
              <div style="background-color: var(--pos-color-highlight-background);"><small>--pos-color-highlight-background</small></div>
              <div style="background-color: var(--pos-color-highlight-text);"><small>--pos-color-highlight-text</small></div>
            </div>
          </li>

          <li>
            <h4 class="pos-heading-4">Standout sections, call to actions</h4>
            <div class="styleguide-colors">
              <div style="background-color: var(--pos-color-standout-background);"><small>--pos-color-standout-background</small></div>
              <div style="background-color: var(--pos-color-standout-background-hover);"><small>--pos-color-standout-background-hover</small></div>
              <div style="background-color: var(--pos-color-standout-text);"><small>--pos-color-standout-text</small></div>
            </div>
          </li>
        </ul>

      </div>

    </article>
  
  </div>
</main>